# Flask
FLASK_SECRET_KEY=example_value
JWT_SECRET_KEY=example_value
PG_HOST=pg
PG_PORT=5432

# Postgres
POSTGRES_PASSWORD=example_value
POSTGRES_USER=example_value
POSTGRES_DB=example_value
PGDATA=/var/lib/postgresql/data/db-files/