/* static/css/dashboard.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

#summary, #expenses, #budgets, #goals {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.warper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    flex-direction: column;
    background: url('../img/bg.jpg');
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button.deletebtn {
    background-color: #d51919;
}

button.deletebtn:hover {
    background-color: #b92323;
}

.in {
    margin-bottom: 5px;
}