<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topup.css') }}">
</head>
<body>
    <div class="top">
        <div class="item">
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </div>
    <div class="warper">
        <div class="main">

            
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/topup.js') }}"></script>
</body>
</html>
